@import "../../variables.css";
  .mockup-color-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

.mockup-element-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}
  