@import "../../variables.css";

.color-palette-container {
    border: 2px solid var(--base-color-mid-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: fit-content;
}

.color-palette-color {
    width: 30px;
    height: inherit;
}