@import "../../variables.css";

.mockupElement {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 316px;
    height: fit-content;
    background-color: var(--base-color-white);
    border-radius: 4px;
    border: 5px solid var(--base-color-light-grey);
  }

  .mockup-color-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

  .mockup-illustration-container {
    padding: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
