@import "../../variables.css";

.mockup-graph {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: fit-content;
    align-items: center;
    min-width: 316px;
    height: 12rem;
    background-color: var(--base-color-white);
    border-radius: 4px;
    border: 5px solid var(--base-color-light-grey);
    padding-left: .4rem;
    font-size: 12px;
  }

  .piechart {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
 