@import "../../variables.css";

.app-vertical-bar {
  display: grid;
  overflow: hidden;
  grid-template-areas: "colorbar content";
  grid-template-columns: auto auto;
  height: 100vh;
  background-color: var(--base-color-white);
}

.app-horizontal-bar {
  display: grid;
  overflow: hidden;
  grid-template-areas: "colorbar" "content";
  height: 100vh;
  background-color: var(--base-color-white);
}

.colorBar {
  grid-area: colorbar;
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
  width: 100%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--base-color-light-beige);
  padding: 30px;
  justify-content: space-between;
}

.aboutSectionLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 235px;
  padding: 10px;
}

.aboutSectionRight {
  flex-direction: column;
  width: 60%;
  padding: 10px;
}

.aboutSectionTextBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}

.colorPaletteSection {
  padding: 2rem;
  background-color: var(--base-color-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4rem;
}

.tableSection {
  padding: 2rem;
  background-color: var(--base-color-light-beige);
}

.mockupSection {
  padding-left: 2rem;
  background-color: var(--base-color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.summarySection {
  background-color: var(--base-color-light-beige);
}

.mockup-section-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: .2rem;
  margin:0;
}

.primaryButton {
  background-color: var(--base-color-pink);
  color: var(--base-color-black)
}

.primaryButton:hover {
  background-color: var(--base-color-dark-pink);
  color: var(--base-color-white);
}


.big-title {
  font-size: 26px;
}

.h2-title {
  font-size: 22px;
  color: var(--base-color-black);
}

.see-contrast-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: .2rem;
  justify-content: flex-end;
  padding-right: 4rem;
  margin:0;
}

.h3-small {
  font-size: 16px;
  font-weight: normal;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
  
}

.p-small-about {
  font-size: 14px;
  max-width: 50ch;
  line-height: 150%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

.default-palettes-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .8rem;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.default-palette-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
}


.default-palette-container:hover {
  transform: scale(1.04);
  /* animation-play-state: paused; */
}

.speech-bubble {
  background: var(--base-color-pink);
  color: black;
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 1em;
  padding: 0 1em;
  position: relative;
  text-align: center;
  vertical-align: top;
  min-width: 7em;
  max-width: 270px;
  min-height: 90px;
  max-height: 150px;
  margin: 30px 10px;
  border-radius: 4px;
}

.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: var(--base-color-pink);
	content: '';
	margin-left: -5em;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble-text {
  font-weight: normal;
}