@import "../../variables.css";

.vertical-bar {
  height: 100vh;
  background-color: var(--base-color-light-grey);
  display: grid;
  grid-template-areas: "togglebutton" "colorlist" "addbutton";
  grid-template-rows: 82px 1fr 82px;
  border-right: 2px groove var(--base-color-dark-grey);
}

.horizontal-bar {
  width: 100vw;
  height: 100px;
  background-color: var(--base-color-light-grey);
  display: grid;
  grid-template-areas: "togglebutton colorlist addbutton";
  grid-template-columns: 82px 1fr 150px;
  border-bottom: 2px groove var(--base-color-dark-grey);
}

.vertical-color-list {
  grid-area: colorlist;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  gap: 1rem;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.horizontal-color-list {
  grid-area: colorlist;
  flex-wrap: nowrap;
  margin: 1rem;
  gap: 1rem;
  padding: 0;
  overflow-y: hidden; 
  overflow-x: scroll;
}

.my-color-list-item {
  padding: 0;
}

.toggle-button {
  grid-area: togglebutton;
  width: 50px;
  height: 50px;
  margin: 1rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.addColorButton{
  grid-area: addbutton;
  padding: .7rem 0.7rem 0.7rem .7rem;
  font-size: 12px;
  height: 50px;
  margin: 1rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}